@import "variables";


// <!-- -------------------PRIMARY COLORS -->

// - Dark Violet: hsl(256, 26%, 20%)
// - Grayish Blue: hsl(216, 30%, 68%)

// // <!-- -------------------NEUTRAL COLORS -->

// - Very Dark Violet: hsl(270, 9%, 17%)
// - Dark Grayish Violet: hsl(273, 4%, 51%)
// - Very Light Gray: hsl(0, 0%, 98%)

// font-family: 'DM Serif Display', serif; TITLES

// font-family: 'Karla', sans-serif; BODY

// <!-- -------------------BODY -->
body {}

.container-fluid {}

.inner-box {
  text-align: center;
  font-family: $body-font;
  font-size: 16px;
}

p {
  width: 80%;
  margin: auto;
}

// <!-- -------------------HEADER -->
.header {
  margin: 2rem 2rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  width: 90%;

  &__logo {
    img {}
  }

  &__menu {
    img {}
  }
}

// <!-- -------------------MAIN-IMAGE -->
.main-image {
  width: 100%;

  img {
    width: 100%;
  }

  .desktop-img {
display: none;
  }
}

// <!-- -------------------HUMANIZING -->
.humanizing {
  background-color: hsl(256, 58%, 17%);
  color: white;
  width: 100%;
  padding: 7rem 0;

  &__text {
    .title {
      font-family: $heading-font;
      font-size: 40px;
    }

    .paragraph {}
  }

  &__plans {
    button {
      margin-top: 2rem;
      border: solid 2px white;
      background-color: transparent;
      color: white;
      padding: 0.5rem 3rem;
    }
  }
}

// <!-- -------------------TEXT -->
.text {
  margin: 7rem 0;

  .hr {
    width: 50%;
    height: 2px;
    background-color: hsl(0, 0%, 85%);
    margin: -1rem auto 2rem auto;
  }

  &__title {
    font-family: $heading-font;
    font-size: 40px;
  }

  .title {
    font-family: $heading-font;
    font-size: 25px;

  }

  img {
    width: 5rem;
    margin: 2rem;
  }
}

// <!-- -------------------FIND-OUT -->
.find-out {
  background-color: hsl(256, 58%, 17%);
  color: white;
  padding: 5rem 0;
  margin-bottom: 7rem;

  &__text {
    .title {
      font-family: $heading-font;
      font-size: 40px;
    }
  }

  &__button {
    button {
      border: solid 2px white;
      background-color: transparent;
      color: white;
      padding: 0.5rem 3rem;
      margin-top: 2rem;
    }
  }
}

// <!-- -------------------FOOTER -->
.footer {
  width: 100%;

  .logos {
    background-color: rgb(146, 148, 99);
    padding: 4rem;

    &__logo {
      margin: 2rem;
    }

    &__social-media {
      margin: 2rem auto;
      width: 100%;
      display: flex;

      img {
        justify-content: space-evenly;
      }
    }
  }

  hr {
    width: 90%;

  }

  .title {
    color: hsl(0, 0%, 68%);
    margin: 3rem auto;
  }

  .subtitle {}
}

p {
  font-weight: 700;
}

// <!-- -------------------MEDIA QUERYS -- >
@media only screen and (min-width: 769px) {

  .inner-box {
    background-color: blue;
    ;
  }

  .mobile {
    display: none;
  }

  .desktop-img {
display: inline-block;

  }
}

@media only screen and (min-width: 992px) {}